.info-container{
    margin: 40px auto;
    padding: 0 10%;
    max-width:1600px;

    /* Rows */
    section{
        margin: 60px 0;
    }

    /* Column */
    .first, .second{
        display: block;
        max-width: 100%;
    }
    
    /* Header and Text Content */
    /* Header */
    h3{
        font-size: 40px;
        font-weight: 400;
    }
    
    /* paragraph */
    .paragraph{
        line-height: 1.75rem;
        margin: 60px 0px 20px 0px;
        color: #C4C4C4;        
    }
    
    
    /* images */
    .info_image{
        width: 300px;
    }

    .shapes{
        transform: rotate(90deg);
    }
    
    @media screen and (min-width: 786px){
        /* display sections flex for tablet and desktop devices */
        .first,
        .second{
            display: flex;
            align-items:center;
            justify-content: center;
        }
        .info_image{
            margin-left: 40px;  
            width: 300px;      
            height: 180px;
        }

    }
    
    @media screen and (min-width: 986px){
        section{
            display: flex;

            .info_image{
                margin-left: 40px;  
                width: 400px;      
                height: 280px;
            }
            
            .paragraph{
                width: 80%;
            }
        }
    }
}