:root {
--primary: #06FFF0;
--scrollbar-track: #0e0e0e;
--scrollbar-thumb: #1d1f1e;
--bg: #0c0c0c;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jura', 'Montserrat', Arial, Helvetica, sans-serif;
  color: white;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);  
}

/* Page Layout */
.marketplace-container,
.about-container,
.resources-container,
.faq-container{
  height: 100%;
  min-height: 100vh;
  background: var(--bg);
}

.home-container{
  background: var(--bg);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.top-left-blur{
    position: absolute;
    z-index: -1;
    top: -650px;
    left: -700px;
    height: 1352px;
}

.bottom-right-blur{
    position: absolute;
    top: 800px;
    right: -600px;
    height: 1300px;
    z-index: -1;
}

/* Navbar styles */
/* See styled-components in Nav */
/* Social media icons */
.social svg{
  margin: 0 5px;
  font-size: 20px;
  cursor: pointer;    
}


.social svg:hover{
  padding-bottom: 4px;
  border-bottom: 1px solid #06FFF0;  
}

/* Background image behind cards section - purple blur */
.card-bg{
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 1400px;
    opacity: 0.5;
}


/* Card Component Styles */
.cards-title{
  margin: 40px 0 20px 0;
}

.filter-btn{
  margin: 10px 5px;
  padding: 4px 10px;
  width: 100px;
  background: transparent;
  border: solid 1px white;
}

.filter-btn:hover,
.filter-btn.active{
  background: white;
  color: black;
}

.cards-container{
  margin: auto;
  max-width:1600px;  
  padding: 0 10%;
}

.cards-title{
  font-size: 50px;
  font-weight: 400;
}

.cards {
  height: 690px;
  padding: 100px 0;
  display: flex;
  gap: 40px;
  overflow-x: auto;
}

.card {
  height: 470px;
  width: 320px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  padding: 10px;
  flex-direction: column; 
  background: linear-gradient(145deg, rgb(224, 223, 219) 33%, rgba(217,215,189,1) 64%, rgb(188, 188, 181) 91%);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(5px);      
  box-shadow: rgba(0, 0, 0, 0.27) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.3) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  opacity: 0.9;
}

.card:hover{
  opacity: 1;
  background: linear-gradient(145deg, rgba(224,192,53,1) 33%, rgba(237,228,144,1) 64%, rgba(232,232,102,1) 91%);
}



.image-container{
  height: 250px;
}

.image {
  border-radius: 9px;
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.profile-pic{
  position: absolute;
  top: -50px;
  left: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 2px black;
}

.card--badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  font-weight: bold;
}

.card--info{
  margin-top: 20px;
  height: 240px;
  width: 100%;
  position: relative;
}



.grey,
.coin-img,
.card--value{
  padding: 0 5px;
}

.artist-name,
.genre{
  padding: 5px 0;
}

.active-badge{
  position: absolute;
  top: -44px;
  left: 65px;
  height: 14px;
}

.artist-name,
.genre,
.song--title,
.total-raised-header,
.card--value,
.available_nfts{
  font-family: 'Jura', sans-serif;
}

.artist-name,
.genre{
  font-size: 14px;
  color :#4D5562;
  text-transform: uppercase;
}

.artist-name{
  margin-top: 20px;
}

.song--title{
  font-size: 24px;
  color: #0E1213;
  font-weight: 700;
}

.card-bottom{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.total-raised-header{
  margin-top: 22px;
  font-size: 14px;
  color: #4D5562;
}

.card--value{
  color: #0E1213;
  font-size: 24px;
}


.price-container{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.coin-price{
  display: flex;
  gap: 10px;
  align-items: center;
}

.card--title {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.available_nfts,
.single-copy{
  margin: 0 20px 5px 0;
}


.stock{
  color: #4D5562;
}

.num-nfts{
  color: #0E1213;  
}

.single-copy{
  height: 40px;
}


/* Cards Tablet and Desktop Responsiveness */
@media screen and (min-width: 768px){
  .cards{
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}


/* buttons */
.buttons{
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button{
  width: 120px;
  height: 40px;
  border-radius: 20px;
}

.play-now{
  background: none;
  border: solid white 1px;
}

.buy{
  background: linear-gradient(90deg, #6D00FF, #2D9FF6, #06FFF0 );
  border: none;
}











/* Footer */
.footer-container{
  background: rgb(12,12,12);
  background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(16,21,34,1) 35%);
}

.footer-wrap{
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10%;
}

.footer-links-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links-wrapper{
  display: flex;
}

.footer-link-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
  color: #fff;  
}

.footer-links-title{
  font-size: 14px;
  margin-bottom: 16px;
}

.footer-link{
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.footer-link:hover{
  color: #01bF71;
  transition: 0.3 ease-in-out;  
}

.social-media-container{
  max-width: 1600px;
  width: 100%;
}

.social-media-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;  
}

.social-logo{
  color: #fff;
  justify-content: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;  
}

.website-rights{
  color: #fff;
  margin-bottom: 16px;  
  font-size: 14px;
}

.social-icons{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.social-icon-link{
  padding: 0 10px;
  color: #fff;
  font-size: 20px;  
}

/* Media Queries */
@media screen and (max-width: 420px){
  .footer-link-items{
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 968px){

  /* Footer Tablet and Desktop Responsiveness */
  .footer-wrap{
    height: 440px;
  }
  .social{
    display: none;
  }
  .footer-links-container{
    padding-top: 32px;
  }
  .footer-links-wrapper{
    flex-direction: column;
  }  

  .social-media-wrap{
    flex-direction: column;
  }

}

/* Marketplace Styles */
.marketplace-container{
  padding-top: 100px;
}