:root {
--primary: #06FFF0;
--scrollbar-track: #0e0e0e;
--scrollbar-thumb: #1d1f1e;
--card-gradient: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(14,13,21,1) 54%, rgba(58,37,108,1) 100%, rgba(103,65,153,1) 100%);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: white;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);  
}

/* Homepage Styles */
.home-container{
  position: relative;
  height: 100%;
  width: 100%;
  background: #0C0C0C;
  z-index: 0;
  overflow: hidden;
}

.top-left-blur{
    position: absolute;
    z-index: -1;
    top: -650px;
    left: -700px;
    height: 1352px;
}

.bottom-right-blur{
    position: absolute;
    top: 800px;
    right: -600px;
    height: 1300px;
    z-index: -1;
}

/* Navbar styles */
/* See styled-components in Nav */
/* Social media icons */
.social svg{
  margin: 0 5px;
  font-size: 20px;
  cursor: pointer;    
}


.social svg:hover{
  padding-bottom: 4px;
  border-bottom: 1px solid #06FFF0;  
}

/* .nav-fog{
  position: absolute;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.116);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 0;
} */

/* Colors in background of cards section */
.card-bg{
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 1400px;
    opacity: 0.5;
}
/* Card Component Styles */
.cards-container{
  margin: auto;
  max-width:1600px;  
  padding: 0 10%;
}

.cards-title{
  margin: 20px 0;
  font-size: 50px;
  font-weight: 400;
}

.cards {
  height: 485px;
  margin: 100px 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  overflow-x: auto;
}

.card {
  width: 320px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  padding: 10px;
  flex-direction: column; 
  border-radius: 16px;
  background: var(--card-gradient);
}

.test{
  height: 100%;
  border-radius: 4px;
}

.image-container{
  height: 250px;
  object-fit: contain;
}

.image {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.card--title {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.curr-logo {
    height: 18px;
}

.card--price {
    margin-top: auto;
}

.price-container{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.coin-price{
  display: flex;
  gap: 10px;
  align-items: center;
}


.card--badge{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    font-weight: bold;
}

/* Card 2 Styles */
.card--info{
  height: 240px;
  width: 100%;
}

.card--price{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
}

.grey,
.coin-img,
.card--value{
  padding: 0 5px;
}

.grey{
  color: grey;
}


.badge,
.name,
.genre{
  text-align: center;
  padding: 5px 0;
}

.badge1{
  color: lime;
}

.profile-pic{
  height: 40px;
  width: 40px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}

.name{
  text-transform: uppercase;
}




/* buttons */
.buttons{
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button{
  width: 120px;
  height: 40px;
  border-radius: 20px;
}

.play-now{
  background: none;
  border: solid white 1px;
}

.buy{
  background: linear-gradient(90deg, #6D00FF, #2D9FF6, #06FFF0 );
  border: none;
}

/* Footer */
.footer-container{
  background: rgb(12,12,12);
  background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(16,21,34,1) 35%);
}

.footer-wrap{
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10%;
}

.footer-links-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links-wrapper{
  display: flex;
}

.footer-link-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
  color: #fff;  
}

.footer-links-title{
  font-size: 14px;
  margin-bottom: 16px;
}

.footer-link{
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.footer-link:hover{
  color: #01bF71;
  transition: 0.3 ease-in-out;  
}

.social-media-container{
  max-width: 1600px;
  width: 100%;
}

.social-media-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;  
}

.social-logo{
  color: #fff;
  justify-content: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;  
}

.website-rights{
  color: #fff;
  margin-bottom: 16px;  
  font-size: 14px;
}

.social-icons{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.social-icon-link{
  padding: 0 10px;
  color: #fff;
  font-size: 20px;  
}

/* Media Queries */
@media screen and (max-width: 420px){
  .footer-link-items{
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 968px){
  .footer-wrap{
    height: 440px;
  }
  .social{
    display: none;
  }
  .footer-links-container{
    padding-top: 32px;
  }
  .footer-links-wrapper{
    flex-direction: column;
  }  

  .social-media-wrap{
    flex-direction: column;
  }
}
